<h1>
    {{title}}
</h1>

<next-todo> </next-todo>

<ul>
  <li *ngFor="let todo of todos | async">
    <input type="checkbox" [checked]="todo.completed" [value]="true" (click)="setTodoState(todo.text, checked.checked && checked.value)" #checked>
    {{todo.text}}
  </li>   
</ul>

<button type="button" (click)="removeCompleted();" #remove>Remove Completed</button>
<!-- 
<button type="button" (click)="showCompleted(); showall.disabled='false'" #showcompleted>Show Completed</button>
<button type="button" (click)="showAll(); showcompleted.disabled='false'"  [disabled]=true #showall>Show All</button>
-->

